# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = r'..\Jupyter_homework\athlete events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [4]:
data1988 = data.loc[data['Year'] == 1988]
youngest = data1988.groupby('Sex').agg({'Age': 'min'})
youngest

      Age
Sex
F    11.0
M    12.0

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [5]:
female_2012 = data.loc[(data['Year'] == 2012) & (data['Sex'] == 'F')]
female_2012_bb = female_2012.loc[female_2012['Sport'] == 'Basketball']
female_bb_percentage = pd.Series((len(female_2012_bb.Name.unique())/len(female_2012.Name.unique()))*100).round(1)
female_bb_percentage

0    3.1
dtype: float64

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [6]:
female_tennis_1988 = data.loc[(data['Year'] == 1988) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]
mean_max = female_tennis_1988.agg({'Height': ['mean', 'max']}).round(1)
mean_max

      Height
mean   171.7
max    190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [7]:
heaviest = data1988.loc[data1988['Weight'].idxmax()][['Name','Sport']]
heaviest

Name        Ji Zubrick
Sport    Weightlifting
Name: 270643, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [8]:
ja_records = data.loc[data['Name'] == 'John Aalberg']
ja_unique_years = len(ja_records.Year.unique())
ja_unique_years

2

6. How many events did John Aalberg participate in during the Olympics held in Albertville?

In [9]:
albertville = ja_records.loc[ja_records['City'] == 'Albertville']
unique_events = len(albertville.Event.unique())
unique_events

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [10]:
belarus_gold_2012 = len(data.loc[(data['Team'] == 'Belarus') & (data['Year'] == 2012) & (data['Medal'] == 'Gold')])
belarus_gold_2012

3

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [11]:
data2016 = data.loc[data['Year'] == 2016]
spain_medals = len(data2016.loc[(data2016['Team'] == 'Spain') & (data2016['Medal'].notnull())])
italy_medals = len(data2016.loc[(data2016['Team'] == 'Italy') & (data2016['Medal'].notnull())])
spain_medals < italy_medals

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [12]:
data2002 = data.loc[data['Year'] == 2002]
diff = abs(len(data1988.Sport.unique()) - len(data2002.Sport.unique()))
diff

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [13]:
valid_data = data.loc[data['Medal'].notnull()]
medals = valid_data.groupby(['Team'])['Medal'].count().to_frame('cnt').reset_index()
winner = medals.loc[medals['cnt'].idxmax()]['Team']
winner

'United States'

In [7]:
m=data[(data['Medal'].isin(['Gold', 'Silver', 'Bronze']))]
c=m.groupby('Team')['Medal'].count()
# c=m.groupby(['Team'])['Medal'].count()
cntry = c.loc[c['Weight'].idxmax()][['Name','Sport']]

5219